<h1><%= @movie.title %></h1>

<p><%= @movie.creation_year %></p>
<p><%= @movie.genre %></p>

<% @movie.age_listing.each do |actor| %>
<p>Name: <%= actor.name %></p>
<p>age: <%= actor.age %></p>
<% end %>

<p>Average age of Actors: <%= @movie.avg_age %></p>
